<html>
<head>
<style>
  @page {
    size: A4;
    margin: 20mm;
    @bottom-right {
      content: "Halaman " counter(page) " dari " counter(pages);
      font-size: 10px;
      font-family: Arial, sans-serif;
    }
  }
  body { 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
  }
  h3 {
    text-align: center;
    max-width: 80%;
    margin: auto;
    line-height: 1.3;
  }
  hr.custom {
    border: none;
    height: 1px;
    background-color: black;
    margin: 10px 50px;
  }
  .section-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .total-data {
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    page-break-inside: auto;
  }
  th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
  }
  .signature-block {
    text-align: right;
    margin-top: 40px;
  }
  .signature-img {
    height: 60px;
  }
  .name {
    text-align: right;
    margin-bottom: 0;
  }
  .npm {
    display: block;
    text-align: right;
    padding-right: 8.7px;
    margin-top: 0px;
  }
</style>
</head>
<body>

<h3>
Prediksi Harga Saham di Indonesia Menggunakan Metode<br>
Bidirectional Gated Recurrent Unit (BiGRU) dengan<br>
Pendekatan Distributed Machine Learning<br>
Operations
</h3>

<hr class="custom">
<br>
<div class="section-title">LAPORAN INFORMASI TEKNIKAL</div>
<div class="section-title">PT {{ short_name }} - {{ symbol }}</div>
<br>
<br>
<div class="total-data">Total Data: {{ indicators|length }}</div>

<table>
    <tr>
      <th>No</th>
      <th>Tanggal</th>
      <th><p style="transform: skewX(-1deg); display: inline-block;">MFI</p></th>
      <th><p style="transform: skewX(-1deg); display: inline-block;">RSI</p></th>
      <th><p style="transform: skewX(-1deg); display: inline-block;">MACD</p></th>
    </tr>
    {% for row in indicators %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ row.full_date }}</td>
      <td>{{ row.MFI }}</td>
      <td>{{ row.RSI }}</td>
      <td>{{ row.MACD }}</td>
    </tr>
    {% endfor %}
</table>

<div class="signature-block">
  Jakarta, {{ full_date }}
  <br>Mengetahui,
  <br><img src="./assets/signature.png" class="signature-img">
  <br><span class="name">{{ full_name }}</span>
  <span class="npm">NPM: {{ npm_numbers }}</span>
</div>

</body>
</html>
